# Qt
*.pro.user
*.qmake.stash
*.qmake.cache
*.moc
*.obj
*.o
*.a
*.lib
*.so
*.dll
*.dylib
*.qrc
*.qmlc
*.jsc
*.qmlproject.user
*.qbs.user
*.qbs.user.*

# Visual Studio
.vscode/
.vs/
*.vcxproj.user
*.vcxproj.filters
*.pdb
*.opendb
*.obj
*.exe
*.log
*.user
*.suo
*.sdf
*.ipch
*.aps
*.ncb
*.cachefile
*.VC.db
*.VC.VC.opendb
*.idb
*.ipdb
*.iobj
*.tlog
*.lastbuildstate
*.opensdf
*.sln.docstates

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# Android
.gradle/
local.properties
*.iml
.idea/
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aar
*.dex
*.class
*.jar
*.war
*.ear
*.hprof
*.so
*.out
*.xml
*.ap_
*.keystore
*.jks
*.pro
*.properties
*.log
*.gz
*.tgz
*.zip
*.tar
*.bz2
*.7z
*.rar
*.dmp
*.mdmp
*.crash
*.trace
*.stacktrace
*.hprof
*.logcat
*.trace
*.pcap
*.cap
*.dump
*.dmp
*.hprof
*.logcat
*.trace
*.pcap
*.cap
*.dump
